<IfModule mod_rewrite.c>
    RewriteEngine On

    # Файл, с которого стартует работа сайта
    DirectoryIndex index.php

    # Перенаправление всех запросов на index.php (если файл/папка не существует)
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
